<% if (process.env.NODE_ENV == 'development') { %>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<% } else { %>
<script src="https://p4m.herokuapp.com/socket.io/socket.io.js"></script>
<% } %>
<script>
    io = io.connect();
</script>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No</th>
            <th>Tournament</th>
            <th>Description</th>
            <th>Registered</th>
            <% if (user) { %>
                <th width="120px">Register</th>
            <% } %>
        </tr>
        <% if(tournaments && tournaments.length){
            for(var i = 0;i < tournaments.length;i++) { %>
            <tr>
                <td><%=(i+1)%></td>
                <td><li id="tournament-stats"><a href="/tournament/stats/<%=tournaments[i].id%>"><%=tournaments[i].name%></a></li></td>
                <td><%=tournaments[i].description%></td>
                <td><%=tournaments[i].uCount%></td>
                <% if (user) { %>
                <td>
                    <a class="btn btn-default" id="submit-tournament" onclick="io.emit('addToTournament', [<%=tournaments[i].id%>, <%=user.id%>])" role="button">Add to tournament</a>
                </td>
                <% } %>
            </tr>
        <% }

        }else{ %>
        <tr>
            <td colspan="5">No active tournaments</td>
        </tr>
        <% } %>

    </table>
</div>